*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

html {
  height: -webkit-fill-available;
}

.carousel-caption h1 {
  overflow: hidden;
}

.leftfooter h1 {
  overflow: hidden;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

header {
  background-color: white;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x:hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#line {
  stroke-dasharray: 9992.9072265625px;
  stroke-dashoffset: 9992.9072265625px;
  -webkit-animation: anim 3s ease alternate infinite;
          animation: anim 3s ease alternate infinite;
}

@-webkit-keyframes anim {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0px;
    fill: #37474F;
  }
}

@keyframes anim {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0px;
    fill: #37474F;
  }
}

#Vector_2 {
  -webkit-animation: fill1 1s alternate infinite;
          animation: fill1 1s alternate infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#Vector_3 {
  -webkit-animation: fill2 1s alternate infinite;
          animation: fill2 1s alternate infinite;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

#Vector_4 {
  -webkit-animation: fill3 1s alternate infinite;
          animation: fill3 1s alternate infinite;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

#Vector_5 {
  -webkit-animation: fill1 1s alternate infinite;
          animation: fill1 1s alternate infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#Vector_6 {
  -webkit-animation: fill2 1s alternate infinite;
          animation: fill2 1s alternate infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

#Vector_7 {
  -webkit-animation: fill13 1s alternate infinite;
          animation: fill13 1s alternate infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#Vector_8 {
  -webkit-animation: fill1 1s alternate infinite;
          animation: fill1 1s alternate infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

#Vector_9 {
  -webkit-animation: fill2 1s alternate infinite;
          animation: fill2 1s alternate infinite;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

#Vector_10 {
  -webkit-animation: fill3 1s alternate infinite;
          animation: fill3 1s alternate infinite;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

#Vector_11 {
  -webkit-animation: fill1 1s alternate infinite;
          animation: fill1 1s alternate infinite;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

#Vector_12 {
  -webkit-animation: fill2 1s alternate infinite;
          animation: fill2 1s alternate infinite;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

#Vector_13 {
  -webkit-animation: fill13 1s alternate infinite;
          animation: fill13 1s alternate infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#Vector_14 {
  -webkit-animation: fill1 1s alternate infinite;
          animation: fill1 1s alternate infinite;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

#Vector_15 {
  -webkit-animation: fill12 1s alternate infinite;
          animation: fill12 1s alternate infinite;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

#Vector_16 {
  -webkit-animation: fill13 1s alternate infinite;
          animation: fill13 1s alternate infinite;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

#Vector_17 {
  -webkit-animation: fill1 1s alternate infinite;
          animation: fill1 1s alternate infinite;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

@-webkit-keyframes fill1 {
  from {
    fill: transparent;
  }
  to {
    fill: #00B2FF;
  }
}

@keyframes fill1 {
  from {
    fill: transparent;
  }
  to {
    fill: #00B2FF;
  }
}

@-webkit-keyframes fill2 {
  from {
    fill: transparent;
  }
  to {
    fill: #FEE9AB;
  }
}

@keyframes fill2 {
  from {
    fill: transparent;
  }
  to {
    fill: #FEE9AB;
  }
}

@-webkit-keyframes fill3 {
  from {
    fill: transparent;
  }
  to {
    fill: #FF0000;
  }
}

@keyframes fill3 {
  from {
    fill: transparent;
  }
  to {
    fill: #FF0000;
  }
}

#text {
  margin-left: 6px;
}

#textpath {
  stroke-dasharray: 2406.29296875px;
  stroke-dashoffset: 2406.29296875px;
  -webkit-transition: all ease;
  transition: all ease;
  -webkit-animation: textanimm ease alternate infinite;
          animation: textanimm ease alternate infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes textanimm {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #37474F;
  }
}

@keyframes textanimm {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #37474F;
  }
}

.menu {
  list-style: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  margin-right: 10px;
}

.menu li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li a {
  font-family: "Montserrat", sans-serif;
  font: 18px;
  color: #37474F;
  text-decoration: none;
  position: relative;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li a::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10.98px;
  height: 10.98px;
  background: #636363;
  border: 1.46563px solid #F8F6C6;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.menu li a:hover::before {
  top: -25px;
  background-color: #F8F6C6;
}

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 25px;
  height: 3px;
  background-color: #636363;
  margin: 5px;
}

@media only screen and (min-width: 450px) {
  .carousel-item {
    height: 90vh;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

hr {
  background-color: #636363;
  color: #636363;
  width: 20%;
  margin: 10px auto;
}

.formcontainer {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formcontainer .leftform {
  width: 50vw;
  height: 70vh;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #37474F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  line-height: 2;
}

.formcontainer .leftform h1 {
  position: relative;
}

.formcontainer .leftform h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: -1%;
  height: 100%;
  width: 2px;
  background: #37474F;
}

.formcontainer .rightform {
  width: 50vw;
  height: 70vh;
  background-color: #37474F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formcontainer .rightform .in {
  position: relative;
  width: 80%;
  height: 50px;
  overflow: hidden;
}

.formcontainer .rightform .in input {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 100%;
  padding-top: 20px;
  outline: none;
  border: none;
  background-color: transparent;
}

.formcontainer .rightform .in input:focus + label .contentname,
.formcontainer .rightform .in input:valid + label .contentname {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  color: white;
  font-size: 14px;
}

.formcontainer .rightform .in input:focus + label::after,
.formcontainer .rightform .in input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.formcontainer .rightform .in label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.formcontainer .rightform .in label::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formcontainer .rightform .in label .contentname {
  position: absolute;
  bottom: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.formcontainer .rightform .btn-form {
  position: relative;
  background-color: #636363;
  color: white;
  width: 140px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.formcontainer .rightform .btn-form::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.formcontainer .rightform .btn-form:hover::after {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin: right;
          transform-origin: right;
}

footer {
  width: 100vw;
  height: 50vh;
  background-color: #F8F6C6;
  border-top: 1px solid #636363;
}

footer .locateus {
  width: 100%;
  color: #37474F;
  font-family: "Poppins", sans-serif;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .locateus a {
  padding-top: 5px;
  font-size: 18px;
  text-decoration: none;
  color: #37474F;
  margin-right: 10px;
}

footer .footerbelow {
  width: 100%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

footer .footerbelow .leftfooter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Prata", serif;
  color: #37474F;
}

footer .footerbelow .rightfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10%;
}

footer .footerbelow .rightfooter .socialicons,
footer .footerbelow .rightfooter .email,
footer .footerbelow .rightfooter .phone,
footer .footerbelow .rightfooter .working,
footer .footerbelow .rightfooter .time {
  color: #636363;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 2px;
}

footer .footerbelow .rightfooter .socialicons a {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

footer .footerbelow .rightfooter .socialicons a :hover {
  fill: #37474F;
}

footer .copyright {
  color: #636363;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 2;
  padding-left: 15px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 1037px) {
  .logo .text {
    width: 276px;
    height: 26px;
  }
  .logo .pcb {
    width: 44px;
    height: 44px;
  }
  header .menu li a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  header .menu {
    width: 60%;
  }
  header .menu li a {
    font-size: 12px;
  }
  .logo .text {
    width: 216px;
    height: 22px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  header{
    width:100vw;
    overflow-x:hidden;
  }
  .menu {
    right: 0;
    margin-right: 0;
    top: 10vh;
    position: absolute;
    width: 0px !important;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x:hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: white;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition:all .5s ease-in;
    transition: all .5s ease-in, -webkit-transform .5s ease-in;
  }
  .menu li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width:60vw;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  .logo .text {
    width: 200px;
    height: 20px;
  }
  .logo .pcb {
    width: 34px;
    height: 34px;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .carousel-caption button {
    width: 80px;
    height: 50px;
  }
  .formcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .formcontainer .rightform {
    width: 100vw;
    height: 50vh;
  }
  .formcontainer .leftform {
    width: 100vw;
    height: 20vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 5%;
  }
  .formcontainer .leftform h1 {
    font-size: 23px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  footer {
    height: auto;
  }
  footer .locateus a {
    font-size: 15px;
  }
  footer .footerbelow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  footer .footerbelow .leftfooter {
    width: 100%;
    padding-top: 10px;
    display: block;
    padding-left: 5px;
  }
  footer .footerbelow .leftfooter h1 {
    font-size: 30px;
  }
  footer .footerbelow .rightfooter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5px;
  }
  footer .footerbelow .rightfooter .socialicons,
  footer .footerbelow .rightfooter .email,
  footer .footerbelow .rightfooter .phone,
  footer .footerbelow .rightfooter .working,
  footer .footerbelow .rightfooter .time {
    font-size: 15px;
  }
  footer .copyright {
    padding-top: 10px;
    font-size: 12px;
    line-height: 1;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */
